/*font-family: 'Ubuntu', sans-serif;*/

*{
    box-sizing: border-box;
    

}
body
{
    margin:0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size : 1rem;
    line-height: 1.5rem;
    color : #333;
    overflow-x :hidden;
    
}

.video-header
{
    height:100vh;
    display:flex;
    align-items:center;
    color:aliceblue;

}

.wrap
{
    max-width: 960px;
    padding-left: 2rem;
    padding-right:2rem;
    margin:auto;
    text-align: center;

}

.fullscreen-video-wrap
{
    position:absolute;
    top:0;
    left:0;
    height:100vh;
    width:100%;
}

.fullscreen-video-wrap video
{
    min-height: 100%;
    min-width: 100%;

}

.header-overlay
{
    height: 100vh;
    width:100vw;
    position: absolute;
    top:0;
    left: 0;
    background: "black";
    opacity: 0.8;
}

.header-content
{
    z-index : 2;
    margin-top:20%;
    padding: 0 6rem;

}

.header-content h1
{
    font-size: 40px;
    margin-bottom:0;

}

.header-content p
{
    font-size: 1rem;
    display:block;
    padding-bottom:2rem;
    margin-top:10px ;
}

.my-btn
{
    padding:.5rem 3rem;
     border-radius: 30px;
     border: 2px solid;
     font-size: large;



}

@media(max-width:768px)
{
    .header-content h1{font-size:40px;}
    .header-contentp{font-size: 1rem;}
}


video
{
    max-width:100%; 
    height:auto; 
}
 .simg
 {
     margin-left:22px;
 }

.story .p 
{
    margin-left:39px;
    font-size:20px;
}


.service-section
{
   
    padding:60px 0;
    background-size: cover;
}

.inner-width{
    width:100%;
    max-width:1200px ;
    margin:auto;
    padding:0 20px;
    overflow: hidden;
}

.section-title
{
    text-align:center;
    color:rgb(8, 8, 8);
    font-size:25px;
    margin-top: 30px;
}
.border
{

    width:70px;
    height:4px;
    background: #3281a8;
    margin: 50px auto;
    margin-top: -1px;

    
}

.services-container
{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;

}

.service-box
{
    max-width:33.33%;
    padding:10px;
    text-align:center;
    color:#3281a8;
    cursor: pointer;

}

.service-icon
{
    display: inline-block;
    width:100px;
    height:100px;
    border:2px solid #3281a8;
    border-radius: 50px 50px;
    
    margin-bottom:30px;
    margin-top:16px;
    transition:0.3s linear

  

}
.service-icon i
{
    line-height:100px;
    font-size:26px;
    

}

.service-box:hover .service-icon 
{
    background:#3281a8;
    color:#ddd;

}


.service-title
{
    font-size:15px;
    margin-bottom:10px;
    color: black;
}

.service-desc
{
    font-size: 13px;
    color:gray;
}

@media screen and(max-width:480px)
{
    .sercive-box
    {
        max-width:100%;
    }
}

.border1
{

    width:50px;
    height:2px;
    background:grey;
    margin: 50px auto;
    opacity: .5;
    
}

.border2
{
    width:50px;
    height:2px;
    background: #82ccdd;
    margin: 5px auto;
    

}
.a
{
    opacity: 0.8;
    color:grey;
     font-size:12px;
}

.b
{
    font-size:15px;
}

.btn1
{

    border-radius: 30px;
    width: 50%;
}

.d
{
    opacity: 0.4; 
}
.wk img
{
    
    width:450px;
}
.tw1
{
    height:238px;
    width:450px;
}
.carousel-item img
{
    width:20px;
    height:200px;
}

.career
{
    background-color: white;
    padding-top:50px;
    padding-bottom:50px;
}
.about-title{
    font-size:35px;
    font-weight:700;
    margin-top:8%;
    text-underline-position: above;
    text-decoration: underline;
    text-decoration-color:#00abff;
}
.cp p
{
    font-size:15px;
    
}
.cp1
{
    margin-top:120px;
    margin-bottom:90px;
}

.footersection
{
    width:100%;
    height:auto;
    padding:70px 0 20px 0;
    background:#00abff;
    position:relative;
    
}
.footersection p
{
    color:whitesmoke;
}
.fa-2x
{
    color:white;
    margin-left:-10px;
}
.form-control
{
    margin-left:-10px;
}
.btn-primary
{
    background:black;
}


a, a:hover,a:visited, a:focus
{
    text-decoration:none;
}
.wrapper
{
    width:1200px;
    margin:0 auto;
}
.wrapper h2
{
    font-family:baloo;
    text-align:center;
    padding:5%;
    font-size:40px;

}
.pic1
{
    height:120px;
    width:130px;
    opacity:0.4;
    color: grey;
}
.head6
{
    font-size:20px;
    text-align:center;

}  
.p1
{
    text-align:center;
}
.c1
{
    border:1px;
    background-color:whitesmoke;
}
.img-area .pavana1
{
    width:200px;
    height:200px;
}
 .career-img
{

    height:400px;
    width:500px;
}

.fab1
{
    margin-left: -40px;
}
.car1
{
    height: 700px;
}
.footh
{
    margin-top:100px;
    font-size:15px;
}
.tc
{
    
    height: 300px;
    padding-top:12px;
    margin-top:12px;
}
.king
{
    margin-left:1000px;
    margin-right:-1200px;
}
